<div class="container">
  <form class="form-horizontal padtop" role="form">
    <fieldset>
      <legend>Add Alumnus</legend>
      
      <div class="form-group">
        <label for="inputName1" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" id="inputName1" placeholder="BOW Alumni">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputClass1" class="col-sm-2 control-label">Class</label>
        <div class="col-sm-10">
          <input type="text" name="class" class="form-control" id="inputClass1" placeholder="2014">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="private"> Hide my email
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputCity1" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
          <input type="text" name="city" class="form-control" id="inputCity1" placeholder="San Francisco">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputState1" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
          <input type="text" name="state" class="form-control" id="inputState1" placeholder="CA">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputJob1" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-10">
          <input type="text" name="job" class="form-control" id="inputJob1" placeholder="Research Assistant">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputDesc1" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea name="description" rows="3" class="form-control" id="inputDesc1" placeholder="What you're doing, future plans, etc."></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" name="add" class="btn btn-default">Add</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>