<div id="map-canvas"></div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron btb">
  <div class="container">
    <h1>Where are you?</h1>
    <p>Let's get back in touch.</p>
    <p><a class="btn btn-primary btn-lg network" role="button">Our Network »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Discover</h2>
      <p>Discover BOW alumni in your area.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Connect</h2>
      <p>Get back in touch with people.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Profit</h2>
      <p>Two heads are better than one.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>
</div>