<div id="map-canvas"></div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div id="tester"></div>
  <div class="container">
    <h1>Share the love.</h1>
    <p>Couple-a-places is a fun space for couples to share their favorite places to do what couples do!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Sign Up »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Discover</h2>
      <p>The main purpose of Cplaplcs is to help you discover lesser-known locations that attract other couples in your area. Find anything from hidden grottos in the cityscape to quaint date locations and more.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Review</h2>
      <p>As a couple, express your opinions about the place you just visited. Would you recommend other couples to visit? What kind of couples should go, and at what time during the day? How did the date go for you?</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Share</h2>
      <p>Stumbled upon a great date location during an outing? Let's fill the place with love. Share your current location and see what other couples think about your tastes! Will it become the most favorited place of all time?</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>
</div>