<script type="application/json" id="bootstrapped_user">
	{ "user": <%= current_user.to_json.html_safe %> }
</script>
<div id="header"></div>
<div id="content"></div>
<div class="container">
  <footer>
    <p>© Bow Alumni 2014</p>
  </footer>
</div>