@import "bootstrap";

body {
  padding-top: 50px;
  height: 100%;
}

#map-canvas {
  height: 300px;
}

.padtop {
  padding-top: 5%;
}

.btb {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}